body{

	margin:0;
	background: #fff;

	font-family: 'Source Sans Pro', sans-serif;
	font-size: 22px;
	font-weight: 100;
	line-height: 30px;

	min-width:1040px;
	background-repeat: no-repeat;

	overflow-x:hidden;

}

/*
a{
	color: #999;
}
a:hover{
	color: #ddd;
}*/
#intro_container, #outro_container{
	width:100%; height:200px;
	overflow: hidden;
	position: relative;
	background: #B4B4BF;
}
#title, #outro{
	position: relative;
	width: 50%;
	height: 50%;
	margin: auto;
	width: 50%;
	padding: 10px;
	font-size: 50px;
/*	top:0; bottom:0; left:0; right:0;*/
}

#subtitle{
	position: relative;
	width: 50%;
/*	height: 50%;*/
	margin: auto;
	width: 50%;
	padding: 10px;
	font-size: 16px;
}
/*    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;*/
.chapter{
	margin: 50px auto;
	width:800px;
}

#circ1, #circ2 {
	border-radius: 50%;
	width: 100px;
	height: 100px; 
	/* width and height can be anything, as long as they're equal */
}

#goal_color, #mixed_color{
	border-radius: 50%;
	width: 50px;
	height: 50px; 
}

#color1{
	width: 300px;
	float: left;
}

#color2{
	margin-left: 300px;
}

<div style="width: 100%; overflow: hidden;">
    <div style="width: 600px; float: left;"> Left </div>
    <div style="margin-left: 620px;"> Right </div>
</div>