body{

	margin:0;
	background: #fff;

	font-family: 'Source Sans Pro', sans-serif;
	font-size: 22px;
	font-weight: 100;
	line-height: 30px;

	min-width:1040px;
	background-repeat: no-repeat;

	overflow-x:hidden;

}

p {
	background: #fff;
}

h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 50px;
	font-weight: 100;
	line-height: 50px;
}

h2{
	text-align: center;
}


a{
	color: #999;
}

a:hover{
	color: #ddd;
}
#intro_container, #outro_container{
	width:100%; height:200px;
	overflow: hidden;
	position: relative;
	background: #B4B4BF;
}
#title, #outro{
	position: relative;
	width: 50%;
	height: 50%;
	margin: auto;
	width: 50%;
	padding: 10px;
	font-size: 50px;
/*	top:0; bottom:0; left:0; right:0;*/
}

#subtitle{
	position: relative;
	width: 50%;
/*	height: 50%;*/
	margin: auto;
	width: 50%;
	padding: 10px;
	font-size: 16px;
}
/*    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;*/
.chapter{
/*	padding: 10px;*/
	margin: 50px auto;
	width: 800px;
/*	padding-bottom: 10px;*/
}

.interactive{
	background-color: #fff;
	padding: 20px;
	margin-top: 20px;
	border:2px dotted gray;
}

.visual{
	background-color: #fff;
	padding: 20px;
	/*margin-top: 20px;*/
	border:1px solid gray;
	margin: 0 auto;
	height: 25%;
}

#circ1, #circ2 {
	border-radius: 50%;
	width: 100px;
	height: 100px; 
	/* width and height can be anything, as long as they're equal */
}

#goal_color{
	border-radius: 50%;
	width: 50px;
	height: 50px; 
	margin: auto;

}
#mixed_color {
	border-radius: 50%;
	width: 50px;
	height: 50px; 
	margin: auto;
}

#goal {
	padding-top: 20px;
	margin: auto;
	text-align: center;
}

#mixed {
	/*padding-top: 150px;*/
	margin: auto;
	text-align: center;
	/*width: 100px;*/
	float: right;
	display: inline-block;

}

#color1{
	width: 100px;
	float: left;
	text-align: center;

	display: inline-block;

}

#color2{
	width: 100px;
	float: left;
	margin-left: 10px;
	text-align: center;

	display: inline-block;
}

#color-wrapper {
    width: 75%;
    margin: 0 auto;
}

#match {
	width: 25%;
	margin: 0 auto;
	text-align: center;
	color: white;
	background-color: gray;
	margin-top: 300px;
/*	float: center;*/
	display: block;
	font-size: 30px;
}

.circle {
	border:1px solid gray;
	width:100px;
	height:100px;
	border-radius: 50%;
	margin: 30px;
	/*display: inline-block;*/
	float: left;
}

.crop {
	width: 100px;
	height: 100px;
	overflow: hidden;
	float: left;
	margin-left: 10px;
	margin-top: 40px;

/*	float: left;*/
/*	display: inline-block;*/
}

.crop img {
	width: 100px;
	height: 100px;
	margin: 15px 0px 0px 0px;
}

#color_input {
		border:1px solid gray;
	width:100px;
	height:100px;
	border-radius: 50%;
	margin-top: 40px;
}

#attempts {
	font-size: 17px;
	text-align: center;
}