@font-face {
    font-family: Cabin;
    src: url(../fonts/Cabin-Regular.ttf);
}

@font-face {
    font-family: OldStandard;
    src: url(../fonts/OldStandard-Regular.ttf);
}

body{

	margin:0;
	background: #fff;
	text-align: left;

	font-family: OldStandard, sans-serif;
	font-size: 18px;
	font-weight: 100;
	line-height: 30px;

	min-width:1040px;
	background-repeat: no-repeat;

	overflow-x:hidden;

}

p {
	background: #fff;
}

h1 {
	font-family: Cabin, sans-serif;
	font-size: 50px;
	font-weight: 100;
	line-height: 50px;
	color: #FFFFFF;
}

h2{
	text-align: left;
	font-family: Cabin, sans-serif;
	color: #F97C92;
}


a{
	color: #999;
}

a:hover{
	color: #ddd;
}
#intro_container, #outro_container{
	width:100%; height:200px;
	overflow: hidden;
	position: relative;
	background: #6EC4DB;
}
#title, #outro{
	position: relative;
	width: 50%;
	height: 50%;
	margin: auto;
	width: 50%;
	padding: 10px;
	font-size: 50px;
/*	top:0; bottom:0; left:0; right:0;*/
}

#subtitle{
	position: relative;
	width: 50%;
/*	height: 50%;*/
	margin: auto;
	width: 50%;
	padding: 10px;
	font-size: 16px;
}
/*    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;*/
.chapter{
/*	padding: 10px;*/
	margin: 50px auto;
	width: 800px;
/*	padding-bottom: 10px;*/
}

.interactive{
	background-color: #fff;
	padding: 20px;
	margin-top: 20px;
	border:2px dotted gray;
}

#visual_box{
	background-color: #fff;
	/*padding: 20px;*/
	/*margin-top: 20px;*/
	border: 1px solid gray;
	margin: 0 auto;
	height: 200px; /* 30%; */
	position: relative;
}

#circ1, #circ2 {
	border-radius: 50%;
	width: 100px;
	height: 100px; 
	/* width and height can be anything, as long as they're equal */
}

#goal_color{
	border-radius: 50%;
	width: 50px;
	height: 50px; 
	margin: auto;

}
#mixed_color {
	border-radius: 50%;
	width: 50px;
	height: 50px; 
	margin: auto;
}

#goal {
	padding-top: 20px;
	margin: auto;
	text-align: center;
}

#mixed {
	/*padding-top: 150px;*/
	margin: auto;
	text-align: center;
	/*width: 100px;*/
	float: right;
	display: inline-block;

}

#color1{
	width: 100px;
	float: left;
	text-align: center;

	display: inline-block;

}

#color2{
	width: 100px;
	float: left;
	margin-left: 10px;
	text-align: center;

	display: inline-block;
}

#color-wrapper {
    width: 75%;
    margin: 0 auto;
}

#match {
	width: 25%;
	margin: 0 auto;
	text-align: center;
	color: white;
	background-color: gray;
	margin-top: 300px;
/*	float: center;*/
	display: block;
	font-size: 30px;
}

.circle {
	border:1px solid gray;
	width:100px;
	height:100px;
	border-radius: 50%;
	margin: 30px;
	/*display: inline-block;*/
	float: left;
}

.crop {
	width: 100px;
	height: 100px;
	overflow: hidden;
	float: left;
	margin-left: 10px;
	margin-top: 40px;

/*	float: left;*/
/*	display: inline-block;*/
}

.crop img {
	width: 100px;
	height: 100px;
	margin: 15px 0px 0px 0px;
}

#color_input {
		border:1px solid gray;
	width:100px;
	height:100px;
	border-radius: 50%;
	margin-top: 40px;
}

#attempts {
	font-size: 17px;
	text-align: center;
}

#drag-1 {
  width: 200px;
  height: 100%;
  margin: 0%;

  background-color: #29e;
  color: white;

  padding: 0%;
  display: inline-block;
  float: left;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  border-radius: 10px;

}

#drag-2 {
  width: 300px;
  height: 100%;
  margin: 0%;

  background-color: #29e;
  color: white;
  padding: 0%;
  display: inline-block;
  float: left;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
   border-radius: 10px;

}

#intersection {
	width: 0%;
	height: 100%;
	display: inline-block;
	border-radius: 10px;

}



#visual_box-2 {
	background-color: #fff;
	/*padding: 20px;*/
	/*margin-top: 20px;*/
	border: 1px solid gray;
	margin: 0 auto;
	height: 200px; /* 30%; */
	position: relative;
}



#drag-3 {
  width: 200px;
  height: 100%;
  margin: 0%;

  background-color: #29e;
  color: white;

  padding: 0%;
  display: inline-block;
  float: left;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  border-radius: 10px;

}

#drag-4 {
  width: 300px;
  height: 100%;
  margin: 0%;
  border: 1px dotted gray;

  background-color: #29e;
  color: black;
  padding: 0%;
  display: inline-block;
  float: left;

  text-align: center;
  line-height: 200%;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
   border-radius: 10px;
   position: relative;
   z-index: 4;

}

#intersection_mystery {
	width: 0%;
	height: 200px;
	display: inline-block;
	border-radius: 10px;
	z-index: 5;
	float: left;
	position: absolute;
	left: 0px;

}

#color_input_mystery {
	width: 100%;
	height: 100%;
/*	margin-top: 40px;*/
	position: absolute;
	z-index: 3;
	left: 0px;
	opacity: 0;
}

#goal_color_mystery{
	border-radius: 50%;
	width: 50px;
	height: 50px; 
	margin: auto;

}

#goal_mystery {
	padding-top: 20px;
	margin: auto;
	text-align: center;
	padding-bottom: 50px;
}

#mystery_result {
	padding-top: 150px;
	margin: auto;
	text-align: center;
	padding-bottom: 50px;
}


#attempts_mystery {
	font-size: 17px;
	text-align: center;
}
#match_mystery {
	width: 25%;
	margin: 0 auto;
	text-align: center;
	color: white;
	background-color: gray;
/*	float: center;*/
	display: block;
	font-size: 30px;
}


