<!DOCTYPE html>
<html lang="en" ng-app="diffieHellmanApp" ng-controller="ModuloController">
	<head>
		<title>Diffie-Hellman Key Exchange</title>

		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <!-- FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Cabin|Old+Standard+TT" rel="stylesheet">
		<!-- ANGULAR -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<!-- INTERACT -->
		<script src="http://cdn.jsdelivr.net/interact.js/1.2.6/interact.min.js"></script>
		<!-- JSCOLOR -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.0.4/jscolor.js"></script>
		<!-- JQUERY -->
   		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<!-- BOOTSTRAP -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
   		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
   		<!-- ANIMATECSS -->
   		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

		<link rel="stylesheet" type="text/css" href="diffiehellman.css">
		<link rel="stylesheet" type="text/css" href="paintmix.css">
		<script src="paintmix.js"></script>
		<script src="modulo.js"></script>
	</head>
	<body>
		<div class = "header">
			<div class = "container">
				<h1>Diffie-Hellman Key Exchange</h1>
				<h2>Creating a Secret Key Over an Insecure Line</h2>
				<img src="pics/key.png" alt="Smiley face" style="margin-bottom: 30px">
				<h2 style="font-family: 'Cabin', sans-serif; font-size: 18px;">Joanne Jang, Clay Jones, Jessica Ouyang</h2>
			</div>
		</div>
		<div class = "container">
			<div class = "chapter">
				<p>
					This is a story of how 2 people can create a <b>secret key</b> (that only the two of them know) while being apart, even if their conversation is being peeked on.
				</p>
				<p>
					This lesson hopes to explain the process of a Diffie-Hellman key exchange.
					For starters, a <b>key</b> is something that’s given to an algorithm that encrypts a message. If someone has the key and the algorithm, they can decrypt the message!
				</p>
				<p>
					A <a href="https://en.wikipedia.org/wiki/Key_exchange">key exchange</a> is a method of transporting a secret code from one individual to another, so that both individuals have the same secret code. The issue is that we cannot send a randomly generated code because someone could intercept it.
				</p>
			</div>
		</div>
		<div class = "container-fluid question red">
			<div class = "container">
				But how can we create something <i>secret</i> when everything passed between the two people <i>isn’t a secret</i>?
			</div>
		</div>
		<div class = "container-fluid question green">
			<div class = "container">
				<h3>A one-way function might help.</h3>
				<p>
					A <b>one-way function</b> is a function that is significantly easier to compute in one direction than in the opposite direction.
				</p> 
			</div>
		</div>
		<div class = "container">
			<div class = "chapter">
				<h3><b>Paint mixing is a <i>real life</i> one-way function.</b></h3>
				<h3>Mixing paint is easy.</h3>
				<p>
					As you can see, we can use two colors to create a third color simply by mixing the two.
				</p>

				<div id="visual_box">
					<div id="drag-1" class="draggable" style="background-color: #66AB8C;"> </div>
					<div id="drag-2" class="draggable" style="background-color: #F97C92;"> </div>
					<div id="intersection" style="background-color: #B0948F;"></div>
				</div>
				<h3>However, unmixing paint is hard.</h3>
				<p>
					If you were given the mixed color and one of the ingredient colors, it would be <i>nearly impossible</i> to find the other ingredient color.
				</p>
				<p>
					<b>Try finding the other ingredient color that makes up this mix.</b> You'll find that it's really difficult to find the exact color you're looking for!
				</p>

				<div id="unmixing">
					<div id="visual_box-2">
						<div id="drag-3" class="draggable-2" style="background-color: #FF9966;"></div>

						<div id="drag-4" class="draggable-2" style="background-color: white; font-size: 100px; text-align: center;"> ?
									<input id="color_input_mystery" class="jscolor {position: 'right', padding: 0, shadow: false, smartPosition: false, insetColor:'#000'}" onchange="updateIntersection(this.jscolor)" style="font-size:0px;"/>
						</div>
						<div id="intersection_mystery" style="background-color: #FF9966;"></div>
					</div>
					<table id= "info-table">
						<td>
							<div id="goal_mystery">
								<p><b>GOAL COLOR</b><br>#99B2B2<br><br></p>
								<p id="goal_color_mystery"></p>
							</div>
						</td>
						<td>
							<div id = "match_mystery">
								<div id = "attempts">0</div>
								<div>ATTEMPTS</div><br>
							</div>
						</td>
						<td>
							<div id="result_mystery">
								<p id = "mixed_color_mystery"></p>
								<p id = "mystery_result"><b>MIXED COLOR</b><br>N/A<br><br></p>
							</div>
						</td>
					</table>
					<div id = "ismatch">
						NOT A MATCH
					</div>
				</div>
				<p>
					The only way for someone to find the exact paint mix would be to <b>brute force</b> them, mixing each of the <b>millions of the distinct possible colors</b> and checking to see if it’s a match. Even then, it would take an advance knowledge of color theory, and a <b>lot of time spent guessing</b>.
				</p>
			</div>
		</div>
		<div class = "container-fluid question blue">
			<div class = "container">
				Knowing that paint mixing is a one-way function, do you think two people communicating on an insecure line can create a <i>secret color</i>?
			</div>
		</div>
		<div class = "container">
			<div class = "chapter">
				<h3>Imagine that you open up a new bank account online.</h3>
				<img id = "introimg" src = "./ColorMixing/img/intro_image.png">
				<p> Your bank wants to send you your account number over the internet. Assuming that you understand the basics of encryption, you and your bank must have a shared key that the bank can use to encrypt the account number into a message and you can use to decrypt the account number from that message. The key exchange process is used to give you and your bank that shared key that no one else knows.</p><br><br><br><br>
				<iframe src="./KeyExchange/main.html" style="width: 150%; height: 700px; margin-left: -200px;" frameborder="0" marginwidth="0" scrolling="no"></iframe>
			</div>
		</div>
		<div class = "container-fluid question green">
			<div class = "container">
				Let's try the key exchange process with numbers - how it's done in real life!
			</div>
		</div>
		<div class = "container">
			<div class = "chapter">
				<iframe src="./NumbersExchange/main.html" style="width: 150%; height: 700px; margin-left: -200px; border: 1 px dashed gray;" frameborder="0" marginwidth="0" scrolling="no"></iframe>
			</div>
		</div>
		<div class = "container-fluid question red">
			<div class = "container">
				Why are these numbers hard to <i>"unmix"</i>?
			</div>
		</div>
		<div class = "container">
			<div class = "chapter">
				<h3>The modulo operator is also a one-way function.</h3>
				<p>
					Just like mixing paint, the modulo is much harder to reverse than it is to solve. <b>It is also the one-way function that is used
					in Diffie-Hellman Key Exchange.</b> We can understand this the same way we understood paint as a one-way function.
				</p><br>
				<h3>Solving an equation with a modulo is easy.</h3>
				<div class = "solve">
					<div class="math"> 
						3<sup>2</sup> mod 5 = <input id="guess1" type="text" ng-model="guess1" ng-change="checkAnswer1()" ng-model-options="{debounce: 700}">
					</div>
					<div class="modanswer" id="answer1">{{answer1}}</div>
				</div><br>
				<h3>However, reversing an equation with a modulo is really hard.</h3>
				<p>No really, it is! Given the following equation, can you solve for the specific exponent that was used to create the end result? It's easy for you to provide an answer that solves to produce the same result, but we're looking for the <b>specific number we used</b> to produce this result.</p>
				<div class = "solve">
					<div class = "math">3<sup><input id="guess2" type="text" ng-model="guess2" ng-change="checkAnswer2()" ng-model-options="{debounce: 700}"></sup>mod 5 = 4</div>
					<div class="answer2response">
						<div id = "answer2attempts">{{attempts}} </div>
						<div>ATTEMPTS</div>
					</div>
					<div class="modanswer" id="answer2">
						{{answer2}}
					</div> 
				</div><br>
				<h3>Your guess is <span class = "math">{{guess2}}</span>, but you might also guess any of these numbers:</h3>
				<div class = "math">
					<div class="possibles" ng-repeat="num in possible">{{num}}</div>
				</div>


				<div id ="showmore" ng-click="showMore()">SHOW MORE</div>
				<br/>
			
				<p>Without knowing which specific one was used, it would take a very long time to <b>brute force</b> through all of these possibilities and test if they were the right one.</p> 
				<h3>The actual number was <b class="math">602</b>.</h3>
				<p><b>Really, try it out in the previous equation!</b> Knowing the actual number that was used in the modulo one-way function makes it easy to solve. Like paint, without it, it would take a lot of time to brute-force to hit the right answer. This makes modulo a one-way function. With enormous numbers like those actually used in Diffie-Hellman key exchange, it would take a really long time.</p> 
			</div>
			<div class="chapter"> 
				<h3>Let's look back at the Diffie-Hellman process as a whole and it's modulus function.</h3>
				<p>
					This is because the Diffie-Hellman Equation, when applied twice with different exponents (like our secret colors), always ends up to be the same result, <b>regardless of the order in which they are applied</b>. Kind of like mixing paint!
				</p>
				<div class = "math">
					(BASE <sup class="A">A</sup> % MOD)<sup class="B">B</sup> % MOD
				</div>
				<div class = "math">
				 = 
				</div>
				<div class = "math">
				(BASE <sup class="B">B</sup> % MOD)<sup class="A">A</sup> % MOD
				</div>
				<p>
					With <span class="A">A</span> and <span class="B">B</span> as the two private numbers, the modulus as a one-way function prevents a peeker from getting their component numbers, but allows for them to always "mix" the same result.
				</p>
				<p>
					These 2 equations always will be the same, but it is impossible for a peeker to figure out without brute forcing through all of the options. With a large enough modulus, it would take an extreme amount of time to test each possible one.
				</p>
			</div>
		</div>
		<div class = "container-fluid question blue">
			<div class = "container conclusion">
				What do we know? 
				<ol>
					<li>One-way functions are hard to reverse.</li>
					<li>The modulus operator leads to one-way functions.</li>
					<li>Diffie-Hellman Key exchange uses two one-way functions to create a shared secret key.</li>
				</ol>

				<p>Using the secret shared key created through Diffie-Hellman Key Exchange, two users can use an algorithm such as <a href="https://en.wikipedia.org/wiki/Advanced_Encryption_Standard">AES</a> or <a href="https://en.wikipedia.org/wiki/Blowfish_(cipher)">Blowfish</a> to encrypt their message. Without the key, it would take an intruder a very long time to be able to intercept and read their message.</p>
			</div>
		</div>
		<div class = "container-fluid question red">
			<div class = "container conclusion">
				Interested in learning more?
				<ol>
					<li><a href="https://www.math.cornell.edu/~mec/2003-2004/cryptography/diffiehellman/diffiehellman.html">Primes, Modular Arithmetic, and Public Key Cryptography</a>: Cornell Math Department's mathematical background on why Diffie-Hellman works</li>
					<li><a href="https://en.wikipedia.org/wiki/Public-key_cryptography">Public-key cryptography</a>: Wikipedia article </li>
					<li><a href="https://learncryptography.com/encryption">Learn Cryptography - Encryption</a>: Explanation of commonly used concepts in encryption</li>
				</ol>
			</div>
		</div>

	</body>
	
</html>